/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
	outline: none;
}

a:focus,a:active{
	outline: none;
}

nav,footer,header,aside{
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 136.7%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{
	font-family:inherit;
}

input::-ms-clear{
	display: none;
}

button{
	cursor: pointer;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
}

button::-moz-focus-inner {
	padding:0;
	border:0;
}

a, a:visited{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
}

ul li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: 400;}
/*--------------------*/


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: url(../img/modalBG.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}
.title {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0 100px;
    color: rgb(195, 158, 230);
    background: #000000c7;
    padding: 20px 0px;
    border-radius: 15px;
}

.title span {
    color: rgb(95, 196, 95);
}
.add-task-container {
    width: 350px;
    padding: 20px 10px;
    background: #8448bc5f;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 3px;

    margin-bottom: 20px;

    display: flex;
}

input {
    flex: auto;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}
#add-task {

    flex: 1;

    font-size: 1.2rem;
    padding: 5px;
    color: green;

    border: 2px solid green;
    transition: 0.5s ease;
}
#add-task:hover {
    background: green;
    color: black;
}


/* styling for tasks */


.task {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;

    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}

.task .checkTask:hover {
    background: orange;
    color: black;
}

.task .deleteTask {
    color: red;
    margin-right: 5px;
    border: solid 2px red;
    font-size: 1.3rem;
}

.task .deleteTask:hover {
    background: red;
    color: black;
}

.task .editTask {
    font-size: 1.3rem;
    margin-right: 5px;
    border: solid 2px #470956cd;
    color: #490b59be;
}

.task .editTask:hover {
    background: #490b59be;
    color: black;
}